h1 {
    font-family: 'Syncopate', sans-serif;
    color: white;
    letter-spacing: 0.6vw;
    line-height: 100px;
    font-size: 50px;
    text-align: center;
  }

  h2 {
    font-family: 'Syncopate', sans-serif;
    color: white;
    letter-spacing: 0.2vw;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
  }

main {
  font-family: 'Syncopate', sans-serif;
  color: white;
  font-size: 20px;
}